* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    /* adding font stack for various browser and system support */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --primary-spacing: 0.75rem;
    --secondary-spacing: 0.5rem;


    --primary-heading-font-size: 1.80rem;
    --secondary-heading-font-size: 1.5rem;

    --primary-color: #15141a;
    --accent-color: #FF0099;
    --contrast-color: #6f23ae;

    --primary-radius: 8px;

    --regular-font-size: 1.25rem;

    text-decoration: none;
    
}

body {
    background-color: var(--primary-color);
    
    /* Adding a max height to handle large screen */
    max-width: 1920px;
    margin: auto;
}


/* reusable component style */
.text-highlight{
    color: var(--accent-color);
}

.button-primary{
    align-items: center;
    background: linear-gradient(to right, var(--accent-color) 0%, var(--contrast-color) 100%);
    border-radius: var(--primary-radius);
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    color: #fff;
    cursor: pointer;
    font-size: var(--regular-font-size);
    margin: 0;
    padding: 10px 21px;
    text-align: center;
}

.button-primary:hover, .button-primary:active {
    outline: white;
    background: linear-gradient(to right,#be0072 0%, #561b86 100%);
}

.primary-heading{
    font-size: var(--primary-heading-font-size);
    margin-bottom: var(--secondary-spacing);
}

.secondary-heading{
    font-size: var(--secondary-heading-font-size);
    margin-bottom: var(--secondary-spacing);
}

.text-centre{
    text-align: center;
}


header::before {
    content: "";
    position: absolute;
    width: 200px; 
    height: 300px; 
    background-color: #5D3587; 
    
    z-index: -1;
    border-radius: 100%;
    top: -80px;
    left: -75px;
    filter: blur(300px);
}


.wrapper {
    padding-inline: var(--primary-spacing);
}

/* nav bar styles */

nav{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block: var(--primary-spacing);
}

/* The Child combinator (>) will select all the direct child only */
nav > * {
    flex-grow: 1;
    text-align: center;
}

#logo {
    width: 120px;
}

#nav-links{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

#nav-links a:hover, .active-page{
    text-decoration: var(--accent-color) underline;
}


.container {
    height: 100svh;
    display: flex;
    align-items: center;
}

footer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    padding: var(--secondary-spacing);
    margin-top: 100px;
    background-color: #212129;
}

footer > *{
    font-size: 1.5rem;
}

footer h4{
    margin-bottom: 1rem;
}

.footer-logo > p{
    display: none;
}

footer img{
    width: 200px;
}

footer li{
    list-style: none;
}

@media screen and (min-width: 576px) {
    * {
        --primary-spacing: 1.5rem;
        --secondary-spacing: 0.65rem;

        --primary-heading-font-size: 2rem;
        --secondary-heading-font-size: 1.8rem;
    
        --regular-font-size: 1.5rem;
    }
    
    /* nav bar styles */
    
    /* The Child combinator (>) will select all the direct child only */
    
    #logo {
        width: 150px;
    }
}

@media screen and (min-width: 996px) {
    .wrapper {
        padding-inline: 1rem;
    }

    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding-block: var(--primary-spacing);
    }
    
    /* The Child combinator (>) will select all the direct child only */
    nav > * {
        flex-grow: 0;
    }
    
    #logo {
        width: 200px;
    }
    
    #nav-links{
        display: flex;
        gap: 1rem;
        list-style-type: none;
        /* transform: translateX(-50%); */
        justify-content: end;
    }
    
    #nav-links a:hover, .active-page{
        text-decoration: var(--accent-color) underline;
    }
}

@media screen and (min-width: 1400px) {
    * {
        --primary-spacing: 5rem;
        --secondary-spacing: 2.5rem;

        --primary-heading-font-size: 4.5rem;
        --secondary-heading-font-size: 4rem;
    }

    .wrapper{
        padding: 3rem;
    }
    
    .button-primary{
        font-size: 1.25rem;
    }
    
    .secondary-heading{
        font-size: var(--secondary-heading-font-size);
        margin-bottom: var(--secondary-spacing);
    }
    
    header::after {
    content: "";
    position: absolute;
    width: 800px;
    height: 300px; 
    background-color: #e16ee580; 
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(193, 32, 185, 0.89) 0%, rgba(143,0,255,0.8) 55%);
    z-index: -1;
    border-radius: 100%;
    bottom: -80px;
    /* left: -75px; */
    filter: blur(300px);
    opacity: 70%;
    
    }
    nav{
        padding-inline: 2rem;
    }
    
    #nav-links li{
        font-size: var(--regular-font-size);
    }
    
    .container {
        height: 100svh;
        display: flex;
        align-items: center;
    }
    
    footer{
        flex-direction: row;
        align-items: center;
    }
}

