#project-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#project-container > h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}

#projects-details-container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 64px;
}

.project-card {
  width: 312px;
}

.project-card > img{
  width: 100%;
}

.project-card > p{
  font-size: 1.5rem;
}


@media screen and (min-width: 576px) {
#projects-details-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px;
}
}
@media screen and (min-width: 996px) { 
  @media screen and (min-width: 576px) {
    #projects-details-container{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 64px;
    }
    }
}
