* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    /* adding font stack for browser and system support */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --primary-spacing: 5rem;
    --secondary-spacing: 2.5rem;
    --primary-color: #15141a;
    
}

html {
    
}

body {
    background-color: var(--primary-color);
    
    /* This is to handle large screens */
    max-height: 1920px;
    margin: auto;
}

.text-highlight{
    color: #eb30cc;
}

.button-primary{
    align-items: center;
    background: linear-gradient(to right,#FF0099 0%, #6f23ae 100%);
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    color: #fff;
    cursor: pointer;
    font-size: 1.25rem;
    line-height: 1.15;
    margin: 0;
    padding: 10px 21px;
    text-align: center;
    
}
  
  .button-primary:active {
    outline: white;
  }
  
  .button-primary:hover {
    background: linear-gradient(to right,#be0072 0%, #561b86 100%);
  }

.secondary-heading{
    font-size: 4rem;
    margin-bottom: var(--secondary-spacing);
}

.text-centre{
    text-align: center;
}

header {
    /* using svh instead of vh to avoid layout shift for mobile view */
    height: 100svh;

    /* making it flex to allow the banner section to grow to fill up the space
    while keeping the height to be 100sv */
    display: flex;
    flex-direction: column;
}

header::before {
    content: "";
    position: absolute;
    width: 300px; 
    height: 300px; 
    background-color: #5D3587; 
    /* background: rgb(2,0,36); */
    
    z-index: -1;
    border-radius: 100%;
    top: -80px;
    left: -75px;
    filter: blur(300px);
}

header::after {
content: "";
position: absolute;
width: 800px;
height: 300px; 
background-color: #e16ee580; 
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(193, 32, 185, 0.89) 0%, rgba(143,0,255,0.8) 55%);
z-index: -1;
border-radius: 100%;
bottom: -80px;
/* left: -75px; */
filter: blur(300px);
opacity: 70%;

}

.wrapper {
    padding-inline: var(--primary-spacing);
}

nav{
    display: flex;
    align-items: center;
    flex: 0;
}

/* The Child combinator (>) will select all the direct child only */
nav > * {
    flex-grow: 1;
    flex-basis: 50%;
}

#logo {
    width: 200px;
}

#nav-links{
    display: flex;
    gap: 1rem;
    list-style-type: none;
    /* transform: translateX(-50%); */
    justify-content: end;
}

.banner-container {
    /* height: 100%; */
    flex-grow: 1;
    display: flex;
    align-items: center;
    /* position: relative; */
}



#banner-article {
    /* padding-block: var(--primary-spacing); */

    /* translating it to make it visually centered of it's parent div rather than it's 
    own container */
    transform: translateY(-10%);
}

h1{
    font-size: 4.5rem;
    /* margin-bottom: var(--secondary-spacing); */
}

#banner-article > p {
    font-size: 2rem
}

#banner-article > *:not(:last-child){
    margin-bottom: var(--secondary-spacing);
}

#banner-card-container {
    flex-basis: 40vw;
    flex-shrink: 0;
    position: relative;
    padding-right: var(--primary-spacing);
}


#banner-card-container::before{
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    background-image: linear-gradient(45deg,#3023AE 0%,#FF0099 100%);
    border-radius: 45% 55% 30% 70% / 33% 33% 67% 67% ;
    filter: blur(100px);
    top: 150px;
    right: 150px;
    z-index: -1;
}

#banner-card {
    position: absolute;
    bottom: -70px;
    right: 125px;
    padding: var(--secondary-spacing);
    font-size: 1.5rem;
    /* width: 350px; */
    /* height: 350px; */
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(40px);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.25);
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 100% 100%, 20% 100%, 0% 80%, 0 0);
}

#banner-card> *:not(:last-child){
    margin-bottom: 20px
}

#banner-card > h3{
    color: #b8139c;
    text-align: center;
}

hr {
    height: 0.5px;
}

.border {
    border: 2px solid red;
}


.container {
    height: 100svh;
    display: flex;
    align-items: center;
}


.cube-1{
    --size: 100px;
    position: relative;
    width: var(--size);
    height: var(--size);
    left: 100px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: cube-rotate-anti-clock 25s linear infinite;

}

.cube-1 > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube-1 > div > span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(21,21,21,1) 0%, rgba(19,38,19,1) 17%, rgba(17,61,17,1) 37%, rgba(14,90,14,1) 61%, rgba(12,115,12,1) 80%, rgba(10,137,10,1) 91%, rgba(6,181,6,1) 97%, rgba(0,236,0,1) 100%);
    transform: rotateY(calc(90deg * var(--i))) translateZ(calc(var(--size)/2));
}

.cube-1-top{
    position: absolute;
    top: 0;
    left: 0;
    width: var(--size);
    height: var(--size);
    background: #222;
    transform: rotateX(90deg) translateZ(calc(var(--size)/2));
}

.cube-1-top::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: var(--size);
    height: var(--size);
    background-color: #0f0;
    transform: translateZ(calc(-1 * (var(--size) + 50px)));
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0, 255, 0, 0.2), 0 0 200px rgba(0, 255, 0, 0.4), 0 0 300px rgba(0, 255, 0, 0.6), 0 0 400px rgba(0, 255, 0, 0.8), 0 0 500px rgba(0, 255, 0, 1)
}

.cube-2{
    --size: 80px;
    position: relative;
    width: var(--size);
    height: var(--size);
    left: 350px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: cube-rotate-clock 25s linear infinite;
}


.cube-2 > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube-2 > div > span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(21,21,21,1) 0%, rgba(58,17,30,1) 17%, rgba(101,13,41,1) 37%, rgba(152,8,54,1) 61%, rgba(193,4,64,1) 80%, rgba(217,2,70,1) 91%, rgba(230,1,73,1) 97%, rgba(236,0,74,1) 100%);
    transform: rotateY(calc(90deg * var(--i))) translateZ(calc(var(--size)/2));
}

.cube-2-top{
    position: absolute;
    top: 0;
    left: 0;
    width: var(--size);
    height: var(--size);
    background: #222;
    transform: rotateX(90deg) translateZ(calc(var(--size)/2));
}

.cube-2-top::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: var(--size);
    height: var(--size);
    background-color: rgb(255, 0, 55);
    transform: translateZ(calc(-1 * (var(--size) + 50px)));
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(255, 0, 55, 0.2), 0 0 200px rgba(255, 0, 55, 0.4), 0 0 300px rgba(255, 0, 55, 0.6), 0 0 400px rgba(255, 0, 55, 0.8), 0 0 500px rgba(255, 0, 55, 1);
}

.cube-3{
    --size: 150px;
    position: relative;
    width: var(--size);
    height: var(--size);
    left: 400px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: cube-rotate-clock 25s linear infinite;
}


.cube-3 > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube-3 > div > span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(21,21,21,1) 0%, rgba(17,35,58,1) 17%, rgba(13,51,101,1) 37%, rgba(8,70,152,1) 61%, rgba(4,86,193,1) 80%, rgba(2,95,217,1) 91%, rgba(1,100,230,1) 97%, rgba(0,102,236,1) 100%);
    transform: rotateY(calc(90deg * var(--i))) translateZ(calc(var(--size)/2));
}

.cube-3-top{
    position: absolute;
    top: 0;
    left: 0;
    width: var(--size);
    height: var(--size);
    background: #222;
    transform: rotateX(90deg) translateZ(calc(var(--size)/2));
}

.cube-3-top::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: var(--size);
    height: var(--size);
    background-color: rgba(0, 81, 255, 1);
    transform: translateZ(calc(-1 * (var(--size) + 50px)));
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0, 81, 255, 0.2), 0 0 200px rgba(0, 81, 255, 0.4), 0 0 300px rgba(0, 81, 255, 0.6), 0 0 400px rgba(0, 81, 255, 0.8), 0 0 500px rgba(0, 81, 255, 1);
}

#pieces-container {
    position: relative;
    display: flex;
    align-items: center;
}

#pieces-container h2{
    font-size: 4.5rem;
    margin-bottom: var(--secondary-spacing);
}

#pieces-container p{
    font-size: 2rem;
    text-align: justify;
}

#pieces-container::before {
    content: "";
    position: absolute;
    width: 700px;
    height: 400px;
    background-color: #FF0099;
    /* transform: skewY(10deg) skewX(100deg); */
    border-radius: 88% 6% 77% 22% / 57% 6% 84% 29%  ;
    background-image: linear-gradient(-225deg,#FFFFFF 0%,rgba(255,255,255,0) 40%,rgba(0,255,255,0) 60%,#0ff 100%),linear-gradient(45deg,#5423ae 0%,#b700ff 100%);
    right: 10px;
    top: calc(var(--primary-spacing) + 400px);
    filter: blur(100px) brightness(80%);
    z-index: -1;
}

#pieces-container > *{
    flex: 1;
}

.company-section-container{
    width: 100%;
}

.company-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.company-card{
    width: 280px;
}

.company-card> *:not(:last-child){
    margin-bottom: var(--secondary-spacing);
}

.image-wrapper{
    width: 200px;
    height: 200px;
    display: flex;
}

.image-wrapper > img{
    margin: auto;
    display: block;
    width: 200px;
    max-height: 200px;
}

footer{
    display: flex;
    justify-content: space-between;
}

footer > *{
    font-size: 1.5rem;
}

footer h4{
    margin-bottom: 1.5rem;
}

footer img{
    width: 200px;
}

footer li{
    list-style: none;
}


@keyframes cube-rotate-anti-clock{
    0%
    {
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%
    {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

@keyframes cube-rotate-clock{
    100%
    {
        transform: rotateX(-30deg) rotateY(0deg);
    }
    0%
    {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}