.header {
    /* using svh instead of vh to avoid layout shift for mobile view */
    /* making it flex to allow the banner section to grow to fill up the space
    while keeping the header section's height to 100sv */
    display: flex;
    flex-direction: column;
}

.banner-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#banner-article p {
    font-size: var(--regular-font-size);
}

/* setting gap between each elements inside #banner-article using :not() */
#banner-article > *:not(:last-child){
    margin-bottom: var(--secondary-spacing);
}

#banner-card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner-card-container img{
    width: 100%;
}

#banner-card-container p{
    font-size: var(--regular-font-size);
}

#banner-card-container::before{
    content: "";
    position: absolute;
    width: 400px;
    height: 600px;
    background-image: linear-gradient(45deg,#3023AE 0%,#FF0099 100%);
    border-radius: 45% 55% 30% 70% / 33% 33% 67% 67% ;
    filter: blur(100px);
    top: 150px;
    right: 0px;
    z-index: -1;
}

#banner-card {
    position: relative;
    bottom: 120px;
    /* right: 125px; */
    padding: var(--secondary-spacing);
    font-size: 1.5rem;
    width: 312px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(40px);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.25);
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 100% 100%, 20% 100%, 0% 80%, 0 0);
}

#banner-card> *:not(:last-child){
    margin-bottom: 20px
}

#banner-card > h3{
    color: #b8139c;
    text-align: center;
}

#banner-card button{
    position: relative;
    z-index: 1;
    left: calc(312px - 217px);
}

#pieces-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

#pieces-container h2{
    font-size: var(--primary-heading-font-size);
    margin-bottom: var(--secondary-spacing);
}

#pieces-container p{
    font-size: var(--regular-font-size);
    text-align: justify;
}

#pieces-container::before {
    content: "";
    position: absolute;
    width: 700px;
    height: 400px;
    background-color: var(--accent-color);
    border-radius: 88% 6% 77% 22% / 57% 6% 84% 29%  ;
    background-image: linear-gradient(-225deg,#FFFFFF 0%,rgba(255,255,255,0) 40%,rgba(0,255,255,0) 60%,#0ff 100%),linear-gradient(45deg,#5423ae 0%,#b700ff 100%);
    right: 10px;
    top: calc(var(--primary-spacing) + 400px);
    filter: blur(100px) brightness(80%);
    z-index: -1;
}

#cube-container{
    width: 100svw;
}

.cube-1{
    --size: 50px;
    position: relative;
    width: var(--size);
    height: var(--size);
    top: calc(-1 * var(--size));
    left: calc(var(--size));
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: cube-rotate-anti-clock 25s linear infinite;

}

.cube-1 > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube-1 > div > span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(21,21,21,1) 0%, rgba(19,38,19,1) 17%, rgba(17,61,17,1) 37%, rgba(14,90,14,1) 61%, rgba(12,115,12,1) 80%, rgba(10,137,10,1) 91%, rgba(6,181,6,1) 97%, rgba(0,236,0,1) 100%);
    transform: rotateY(calc(90deg * var(--i))) translateZ(calc(var(--size)/2));
}

.cube-1-top{
    position: absolute;
    top: 0;
    left: 0;
    width: var(--size);
    height: var(--size);
    background: #222;
    transform: rotateX(90deg) translateZ(calc(var(--size)/2));
}

.cube-1-top::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: var(--size);
    height: var(--size);
    background-color: #0f0;
    transform: translateZ(calc(-1 * (var(--size) + 50px)));
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0, 255, 0, 0.2), 0 0 200px rgba(0, 255, 0, 0.4), 0 0 300px rgba(0, 255, 0, 0.6), 0 0 400px rgba(0, 255, 0, 0.8), 0 0 500px rgba(0, 255, 0, 1)
}

.cube-2{
    --size: 70px;
    position: relative;
    width: var(--size);
    height: var(--size);
    top: calc(-1 * (var(--size)) *1.5);
    left: calc(var(--size) * 2);
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: cube-rotate-clock 25s linear infinite;
}


.cube-2 > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube-2 > div > span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(21,21,21,1) 0%, rgba(58,17,30,1) 17%, rgba(101,13,41,1) 37%, rgba(152,8,54,1) 61%, rgba(193,4,64,1) 80%, rgba(217,2,70,1) 91%, rgba(230,1,73,1) 97%, rgba(236,0,74,1) 100%);
    transform: rotateY(calc(90deg * var(--i))) translateZ(calc(var(--size)/2));
}

.cube-2-top{
    position: absolute;
    top: 0;
    left: 0;
    width: var(--size);
    height: var(--size);
    background: #222;
    transform: rotateX(90deg) translateZ(calc(var(--size)/2));
}

.cube-2-top::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: var(--size);
    height: var(--size);
    background-color: rgb(255, 0, 55);
    transform: translateZ(calc(-1 * (var(--size) + 50px)));
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(255, 0, 55, 0.2), 0 0 200px rgba(255, 0, 55, 0.4), 0 0 300px rgba(255, 0, 55, 0.6), 0 0 400px rgba(255, 0, 55, 0.8), 0 0 500px rgba(255, 0, 55, 1);
}

.cube-3{
    --size: 100px;
    position: relative;
    width: var(--size);
    height: var(--size);
    left: calc(var(--size) * 1.6);
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: cube-rotate-clock 25s linear infinite;
}


.cube-3 > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube-3 > div > span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(21,21,21,1) 0%, rgba(17,35,58,1) 17%, rgba(13,51,101,1) 37%, rgba(8,70,152,1) 61%, rgba(4,86,193,1) 80%, rgba(2,95,217,1) 91%, rgba(1,100,230,1) 97%, rgba(0,102,236,1) 100%);
    transform: rotateY(calc(90deg * var(--i))) translateZ(calc(var(--size)/2));
}

.cube-3-top{
    position: absolute;
    top: 0;
    left: 0;
    width: var(--size);
    height: var(--size);
    background: #222;
    transform: rotateX(90deg) translateZ(calc(var(--size)/2));
}

.cube-3-top::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: var(--size);
    height: var(--size);
    background-color: rgba(0, 81, 255, 1);
    transform: translateZ(calc(-1 * (var(--size) + 50px)));
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0, 81, 255, 0.2), 0 0 200px rgba(0, 81, 255, 0.4), 0 0 300px rgba(0, 81, 255, 0.6), 0 0 400px rgba(0, 81, 255, 0.8), 0 0 500px rgba(0, 81, 255, 1);
}

#pieces-container article{
    margin-top: calc(var(--primary-spacing) + 100px);
}

.company-section-container{
    width: 100%;
}

.company-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.company-card{
    width: 280px;
}

.company-card> *:not(:last-child){
    margin-bottom: var(--secondary-spacing);
}

.image-wrapper{
    width: 200px;
    height: 200px;
    display: flex;
}

.image-wrapper > img{
    margin: auto;
    display: block;
    width: 200px;
    max-height: 200px;
}


@keyframes cube-rotate-anti-clock{
    0%
    {
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%
    {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

@keyframes cube-rotate-clock{
    100%
    {
        transform: rotateX(-30deg) rotateY(0deg);
    }
    0%
    {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}


@media screen and (min-width: 1400px) {
    .header {
        /* using svh instead of vh to avoid layout shift for mobile view */
        height: 100svh;
    
        /* making it flex to allow the banner section to grow to fill up the space
        while keeping the height to be 100sv */
        display: flex;
        flex-direction: column;
    }
    
    .banner-container {
        /* height: 100%; */
        flex-grow: 1;
        display: flex;
        align-items: center;
        /* position: relative; */
    }
    
    #banner-article {
        /* padding-block: var(--primary-spacing); */
    
        /* translating it to make it visually centered of it's parent div rather than it's 
        own container */
        transform: translateY(-10%);
    }
    
    h1{
        font-size: 4.5rem;
        /* margin-bottom: var(--secondary-spacing); */
    }
    
    #banner-article > p {
        font-size: 2rem
    }
    
    #banner-article > *:not(:last-child){
        margin-bottom: var(--secondary-spacing);
    }
    
    #banner-card-container {
        flex-basis: 40vw;
        flex-shrink: 0;
        position: relative;
        padding-right: var(--primary-spacing);
    }
    
    
    #banner-card-container::before{
        content: "";
        position: absolute;
        width: 600px;
        height: 600px;
        background-image: linear-gradient(45deg,#3023AE 0%,#FF0099 100%);
        border-radius: 45% 55% 30% 70% / 33% 33% 67% 67% ;
        filter: blur(100px);
        top: 150px;
        right: 150px;
        z-index: -1;
    }
    
    #banner-card {
        position: absolute;
        bottom: -70px;
        right: 125px;
        padding: var(--secondary-spacing);
        font-size: 1.5rem;
        /* width: 350px; */
        /* height: 350px; */
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(40px);
        border-radius: 20px;
        border: 2px solid rgba(255, 255, 255, 0.25);
        clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 100% 100%, 20% 100%, 0% 80%, 0 0);
    }
    
    #banner-card> *:not(:last-child){
        margin-bottom: 20px
    }
    
    #banner-card > h3{
        color: #b8139c;
        text-align: center;
    }
    
    
    .border {
        border: 2px solid red;
    }
    
    .cube-1{
        --size: 100px;
        position: relative;
        width: var(--size);
        height: var(--size);
        left: 100px;
        transform-style: preserve-3d;
        transform: rotateX(-30deg);
        animation: cube-rotate-anti-clock 25s linear infinite;
    
    }
    
    .cube-1 > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
    }
    
    .cube-1 > div > span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient( rgba(21,21,21,1) 0%, rgba(19,38,19,1) 17%, rgba(17,61,17,1) 37%, rgba(14,90,14,1) 61%, rgba(12,115,12,1) 80%, rgba(10,137,10,1) 91%, rgba(6,181,6,1) 97%, rgba(0,236,0,1) 100%);
        transform: rotateY(calc(90deg * var(--i))) translateZ(calc(var(--size)/2));
    }
    
    .cube-1-top{
        position: absolute;
        top: 0;
        left: 0;
        width: var(--size);
        height: var(--size);
        background: #222;
        transform: rotateX(90deg) translateZ(calc(var(--size)/2));
    }
    
    .cube-1-top::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: var(--size);
        height: var(--size);
        background-color: #0f0;
        transform: translateZ(calc(-1 * (var(--size) + 50px)));
        filter: blur(20px);
        box-shadow: 0 0 120px rgba(0, 255, 0, 0.2), 0 0 200px rgba(0, 255, 0, 0.4), 0 0 300px rgba(0, 255, 0, 0.6), 0 0 400px rgba(0, 255, 0, 0.8), 0 0 500px rgba(0, 255, 0, 1)
    }
    
    .cube-2{
        --size: 80px;
        position: relative;
        width: var(--size);
        height: var(--size);
        left: 350px;
        transform-style: preserve-3d;
        transform: rotateX(-30deg);
        animation: cube-rotate-clock 25s linear infinite;
    }
    
    
    .cube-2 > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
    }
    
    .cube-2 > div > span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(21,21,21,1) 0%, rgba(58,17,30,1) 17%, rgba(101,13,41,1) 37%, rgba(152,8,54,1) 61%, rgba(193,4,64,1) 80%, rgba(217,2,70,1) 91%, rgba(230,1,73,1) 97%, rgba(236,0,74,1) 100%);
        transform: rotateY(calc(90deg * var(--i))) translateZ(calc(var(--size)/2));
    }
    
    .cube-2-top{
        position: absolute;
        top: 0;
        left: 0;
        width: var(--size);
        height: var(--size);
        background: #222;
        transform: rotateX(90deg) translateZ(calc(var(--size)/2));
    }
    
    .cube-2-top::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: var(--size);
        height: var(--size);
        background-color: rgb(255, 0, 55);
        transform: translateZ(calc(-1 * (var(--size) + 50px)));
        filter: blur(20px);
        box-shadow: 0 0 120px rgba(255, 0, 55, 0.2), 0 0 200px rgba(255, 0, 55, 0.4), 0 0 300px rgba(255, 0, 55, 0.6), 0 0 400px rgba(255, 0, 55, 0.8), 0 0 500px rgba(255, 0, 55, 1);
    }
    
    .cube-3{
        --size: 150px;
        position: relative;
        width: var(--size);
        height: var(--size);
        left: 400px;
        transform-style: preserve-3d;
        transform: rotateX(-30deg);
        animation: cube-rotate-clock 25s linear infinite;
    }
    
    
    .cube-3 > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
    }
    
    .cube-3 > div > span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(21,21,21,1) 0%, rgba(17,35,58,1) 17%, rgba(13,51,101,1) 37%, rgba(8,70,152,1) 61%, rgba(4,86,193,1) 80%, rgba(2,95,217,1) 91%, rgba(1,100,230,1) 97%, rgba(0,102,236,1) 100%);
        transform: rotateY(calc(90deg * var(--i))) translateZ(calc(var(--size)/2));
    }
    
    .cube-3-top{
        position: absolute;
        top: 0;
        left: 0;
        width: var(--size);
        height: var(--size);
        background: #222;
        transform: rotateX(90deg) translateZ(calc(var(--size)/2));
    }
    
    .cube-3-top::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: var(--size);
        height: var(--size);
        background-color: rgba(0, 81, 255, 1);
        transform: translateZ(calc(-1 * (var(--size) + 50px)));
        filter: blur(20px);
        box-shadow: 0 0 120px rgba(0, 81, 255, 0.2), 0 0 200px rgba(0, 81, 255, 0.4), 0 0 300px rgba(0, 81, 255, 0.6), 0 0 400px rgba(0, 81, 255, 0.8), 0 0 500px rgba(0, 81, 255, 1);
    }
    
    #pieces-container {
        position: relative;
        display: flex;
        align-items: center;
    }
    
    #pieces-container h2{
        font-size: 4.5rem;
        margin-bottom: var(--secondary-spacing);
    }
    
    #pieces-container p{
        font-size: 2rem;
        text-align: justify;
    }
    
    #pieces-container::before {
        content: "";
        position: absolute;
        width: 700px;
        height: 400px;
        background-color: #FF0099;
        /* transform: skewY(10deg) skewX(100deg); */
        border-radius: 88% 6% 77% 22% / 57% 6% 84% 29%  ;
        background-image: linear-gradient(-225deg,#FFFFFF 0%,rgba(255,255,255,0) 40%,rgba(0,255,255,0) 60%,#0ff 100%),linear-gradient(45deg,#5423ae 0%,#b700ff 100%);
        right: 10px;
        top: calc(var(--primary-spacing) + 400px);
        filter: blur(100px) brightness(80%);
        z-index: -1;
    }
    
    #pieces-container > *{
        flex: 1;
    }
    
    .company-section-container{
        width: 100%;
    }
    
    .company-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 8rem;
    }
    
    .company-card{
        width: 280px;
    }
    
    .company-card> *:not(:last-child){
        margin-bottom: var(--secondary-spacing);
    }
    
    .image-wrapper{
        width: 200px;
        height: 200px;
        display: flex;
    }
    
    .image-wrapper > img{
        margin: auto;
        display: block;
        width: 200px;
        max-height: 200px;
    }
    
    
    @keyframes cube-rotate-anti-clock{
        0%
        {
            transform: rotateX(-30deg) rotateY(0deg);
        }
        100%
        {
            transform: rotateX(-30deg) rotateY(360deg);
        }
    }
    
    @keyframes cube-rotate-clock{
        100%
        {
            transform: rotateX(-30deg) rotateY(0deg);
        }
        0%
        {
            transform: rotateX(-30deg) rotateY(360deg);
        }
    }
}


